h1 {
    text-align: center;
}

h2 {
    display: inline-block;
}

#downloadButton {
    display: inline-block;
    margin-left: 20px;
}

.galleryWrapper {
    text-align: center;
}

.gallery {
    display: inline-block;
}

.thumbnailRow {
    display: block;
    width: 100%;
}

.thumbnailRow > .thumbnailColumn {
    padding: 8px 8px;
}

.thumbnailRow:after {
    content: "";
    display: table;
}

.thumbnailColumn {
    float: left;
}

.thumbnailColumn img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.thumbnailColumn .emptyDummyImage {
    display: block;
}

#thumbnailCreationRequests {
    display: none;
}
