/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 20px;
    left: 0;
    top: 0;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    height: 100%
}

#mainContent {
    position: relative;
    height: 75%;
    justify-content: center;
    flex-direction: column;
    display: flex;
}


/* The Close Button */
.close {
    color: white;
    background-color: black;
    opacity: 1.0;
    position: absolute;
    z-index: 5;
    top: 20px;
    right: 20px;
    padding: 7px 13px 10px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    display: none;
    background-color: black;
}

.slideshowimagecontainer {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.slideshowimage {
    max-width: 100%;
    max-height: 75%;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.fullscreen {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover
.fullscreen:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    background-color: black;
    opacity: 0.7;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

#captionContainer {
    text-align: center;
    color: white;
    background-color: black;
    opacity: 0.7;
    display: inline-block;
    z-index: 2;
    position: absolute;
    right: 10px;
    padding: 5px 16px 2px;
    pointer-events: none;
}

#captionContainer a {
    pointer-events: all;
}

.caption {
    display: none;
}

.captionTable {
    margin-left: auto;
    margin-right: auto;
    color: white;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

#allImagesMeta {
    display: none;
}

#exifHeading {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 8px;
    padding-bottom: 0px;
}

#openCloseExif {
    transform: rotate(90deg);
    display: inline-block;
    cursor: pointer;
    width: auto;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    margin-left: 20px;
}

#exif {
    opacity: 1;
}
